/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la barra de navegación */

.Menu-nav {
    background-color: #11326f; 
    color: rgb(6, 1, 1); 
    padding: 10px 0; 
}

.navbar-container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.nav-pestañas {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-pestañas li {
    margin-right: 25px;
}

.nav-pestañas a {
    text-decoration: none;
    color: rgb(16, 3, 3); 
    font-weight: bold;
    transition: color 0.3s ease; 
    font-size: 25px;
}

.nav-pestañas a:hover {
    color: #eae6e5;
}

/* CSS LOGO */
.logo {
    width: 120px; 
    border-radius: 65%;

}

/* CSS Carrito */
.carrito {
    list-style: none;
    font-size: 24px;
}

.cart-shop {
    width: 200px;
    color: black;
}